body {
    background-color: #fff;
}

.footer {
  height: 50px;
  line-height: 40px;
  background-color: #f5f5f5;
}

.footer-caption {
    margin: 0px;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 0.7em;
}

#conditional_part
{
  display:none;
  background-color: gainsboro;
  padding: 12px;
  margin: 6px -2px;
  border-radius: 8px;
}

.img-type-btn {
  margin-right: 4px;
}

.big-checkbox::before,
.big-checkbox::after {
    top: .24rem;
    width: 1.25rem;
    height: 1.25rem;
}

#big-checkbox-label {
  margin: 0 6px;
}

.form-control {
  width: 20%
}

/* .optional {
  margin: 6px -2px;
} */

.alert {
  margin-left: 80px;
  margin-right: 115px;
  max-width: 960px;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.alert-error {
  background-color: rgb(243, 99, 46);
  color: white;
}

.alert-info {
  background-color: yellowgreen;
  color: black;
}
