body {
    background-color: #f1f1f1;
}

.submit-footer {
    margin-top: 20px;
}

.submit-para {
    margin-bottom: 10px;
}

hr {
  margin: 40px 0 20px;
  border-color: #007bff;
  opacity: .2;
}

#conditional_part
{
  display:none;
  background-color: gainsboro;
  padding: 12px;
  margin: 6px -2px;
  border-radius: 8px;
}

.img-type-btn {
  margin-right: 4px;
}

.big-checkbox::before,
.big-checkbox::after {
    top: .24rem;
    width: 1.25rem;
    height: 1.25rem;
}

#big-checkbox-label {
  margin: 0 6px;
}

.form-control {
  width: 20%
}

/* .optional {
  margin: 6px -2px;
} */

.alert {
  margin-left: 80px;
  margin-right: 115px;
  max-width: 960px;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.alert-error {
  background-color: rgb(243, 99, 46);
  color: white;
}

.alert-info {
  background-color: yellowgreen;
  color: black;
}
